body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding-top: 50px;
}
.container{
    max-width: 700px;
    margin: auto;
}
.gallery{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.gallery img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    transition: all 0.8s ease;
    filter: blur(2px);
    transform: scale(0.9);
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    
}
/* highlighted image */
.gallery img.active{
    filter:blur(0);
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}